@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
body{
  font-family: 'VT323', monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
}


.grid {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(32, 32, 32);
  border: black solid 1px;
  border-radius:4px
}

.grid div {
  height: 20px;
  width: 20px;
}

.tetromino {
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}


.mini-grid {
  margin-left: 50px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255);
  border: black solid 1px;
  border-radius:4px;
}

.mini-grid div {
  height: 20px;
  width: 20px;
}

.grid div{
  display: flex;
  justify-content: center;
  align-items: center;
}